.lm-bg{
   
    background: #f2f5ff;
}
.blog{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
}
.lm-h{
    font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  padding-bottom: 3%;


  color: #333333;
}
.blog-txt{
    margin: 10% 10% 10% -10%;
}
.lm-p{
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    padding-bottom: 3%;
    color: #666666;
  
}



.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #054c73;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #054c73;
  outline-offset: .0em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .02em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
.img-b{
    margin-left: 20%;
    height: 25rem;
    width: 25rem;
}